// Media Queries max-width
// Catalog <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
// $breakpoint-down
// $breakpoint-up
// $breakpoint-range
// $breakpoint-height-down
// $breakpoint-height-up
// $breakpoint-height-range
// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

// $breakpoint-down
@mixin mq-max($media: map-get($useBreakpoints, changeMobile)) {
	$breakpoint: map-get($useBreakpoints, $media);

	@if $breakpoint ==null {
		$breakpoint: $media; // 允許使用自訂數值
	}

	// Custom
	@media all and (max-width: ($breakpoint + px)) {
		@content;
	}
}

// Media Queries min-width
// $breakpoint-up
@mixin mq-min($media: map-get($useBreakpoints, changeMobile)) {
	$breakpoint: map-get($useBreakpoints, $media);
	
	@if $breakpoint ==null {
		$breakpoint: $media; // 允許使用自訂數值
	}

	// Custom
	@media all and (min-width: ($breakpoint + 1 + px)) { @content; }
}

// 自訂 range-width
// $breakpoint-range
@mixin mq-range($max: 1920, $min: map-get($useBreakpoints, changeMobile)) {
	@media all and (min-width: ($min + 1 + px)) and (max-width: ($max + px)) { @content; }
}

// 自訂 Max-height
// $breakpoint-height-down
@mixin mq-max-h($size: map-get($useBreakpoints, changeMobile)) {
	@media all and (max-height: ($size + px)) { @content; }
}

// 自訂 min-height
// $breakpoint-height-up
@mixin mq-min-h($size: map-get($useBreakpoints, changeMobile)) {
	@media all and (min-height: ($size + 1 + px)) { @content; }
}

// 自訂 range-height
// $breakpoint-height-range
@mixin mq-range-h($max: 1080, $min: map-get($useBreakpoints, changeMobile)) {
	@media screen and (min-height: ($min + 1 + px)) and (max-height: ($max + px)) { @content; }
}
