// noRest
// @mixin noRest($color:cr(base))
@mixin noReset(){
  // color: $color;
  // word-wrap: break-word;

  ul,ol{
    // &:not([class*="u-"]){
    //     margin: 1.12em 0; //段落
    // }
  }

  ol ul, ul ol, ul ul, ol ol {
    // &:not([class*="u-"]){
      // margin-top: 0
      // margin-bottom: 0
    // }
  }

  // li:not([class*="u-"])
  li {
    display: list-item;
    list-style-type: inherit;
  }
  
  // ul:not([class*="u-"])
  ul {
    // list-style-type: disc; //預設
  }
  // ol:not([class*="u-"])
  ol{
    // list-style-type: decimal; //預設
  }
  ol,ul {
    // &:not([class*="u-"]){}
    &.n{
      list-style: none; //沒有標誌，不使用編號
    }
    &.c{
      list-style: circle;  //空心圓
    }
    &.s{
      list-style: square;  //實心方形
    }
    &.dlz{
      list-style: decimal-leading-zero;  //阿拉伯數字(十進制前置零) IE6 顯示為實心圓形符號
    }
    &.lr{
      list-style: lower-roman;  //小寫羅馬數字
    }
    &.ur{
      list-style: upper-roman; //大寫羅馬數字
    }
    &.la{
      list-style: lower-alpha;  //小寫英文字母
    }
    &.ua{
      list-style: upper-alpha;  //大寫英文字母
    }
    &.lg{
      list-style: lower-greek;  //希臘語 IE6 顯示為實心圓形符號
    }

    &.amn{
      list-style: armenian;  //亞美尼亞 IE6 顯示為實心圓形符號
    }

    &.grg{
      list-style: georgian;  //格魯吉亞語 IE6 顯示為實心圓形符號
    }
  }

  // ul, ol{
  //   // &:not([class*="u-"]){}
  //   display: block;
  //   page-break-before: avoid;
  //   padding-left: 40px;
  //  // ul:not([class*="u-"]){}
  //   ul{
  //     list-style-type: circle;
  //     // ul:not([class*="u-"]){}
  //     ul{
  //       list-style-type: square;
  //     }
  //   }
  // }

  // h1:not([class*="u-"] )
  // h1{
  //   font-size: 2em;
  //   margin: .67em 0;
  // }

  // h2:not([class*="u-"])
  // h2{
  //   font-size: 1.5em;
  //   margin: .75em 0;
  // }

  // h3:not([class*="u-"])
  // h3{
  //   font-size: 1.17em;
  //   margin: .83em 0;
  // }
  
  // h4, p, blockquote, fieldset, form, dl, dir, menu
  // blockquote, fieldset, form, dl, dir, menu{
  //   &:not([class*="u-"]){}
  //   margin: 1.12em 0;
  // }
  
  // h5:not([class*="u-"] )
  // h5{
  //   font-size: .83em;
  //   margin: 1.5em 0;
  // }
  
  // h6:not([class*="u-"])
  // h6{
  //   font-size: .75em;
  //   margin: 1.67em 0;
  // }
  
  // h1, h2, h3, h4, h5, h6, b, strong{
  //   &:not([class*="u-"]) {}
  //   font-weight: bold;
  // }
  

  .sub{
    vertical-align: sub; //下標
  }
  .sup{
    vertical-align: super; //上標
  }

  // .red:not([class*="u-"])
  .red{
    color: #E06666;
  }

  code{
    font-family: $fontDefault;
    background-color: #eee;
    color: #000;
    font-size: rem(14);
    font-weight: 400;
    padding: 2px 6px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0, 0.07);
  }

  pre{
    color: #fff;
    background: #272822;
    font-size: rem(14);
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    overflow-y: hidden;
    &::before{
      content: 'Copy Code.';
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: rem(12);
      line-height: 1;
      color: #333;
      background: #ededed;
      border-radius: 5px;
      padding: 5px 8px;
      cursor: pointer;
      @include trs();
      @include mq-min(){
        &:hover{
          opacity: .3;
        }
      }
    }
    code{
      color: $dna;
      background-color: $cr-re;
      font-weight: normal;
      padding: 0px;
      border-radius: 0px;
      border: none;
    }
  }

  @content;
}
