@charset 'utf-8';

@mixin l-default() {
	$htmlSize: map-get($useWebBase, htmlFontSize);
	html {
		@if $htmlSize != null {
			font-size: $htmlSize + px;
			// @if $htmlSize == 16 {
			// 	@include mq-min($rwdPad) { font-size: 11.25px; }
			// }
			// @else {
			// 	@include mq-max($rwdPad) { font-size: 8.88889px; }
			// }
		}
	}
	body {
		font-family: $fontDefault;
		font-size: rem(map-get($useWebBase, bodyFontSize));
		line-height: lh(map-get($useWebBase, bodyLineHeight), map-get($useWebBase, bodyFontSize));
		letter-spacing: 1px;
		color: map-get($useWebBase, bodyFontColor);
		overflow-x: hidden;
		// opacity: 0;
		// animation: m-opacity_in 1s both;

		@content;
	}
}
@mixin l-base() {
	@include l-default() { @content; };
};