// Css 屬性
// Catalog <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
// $config
// $font
// $initial
// $inherit
// $color
// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

// $config <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
// Reset
$useCssAttributesReset: normal, initial, transparent;
$cssAttributesInherit: inherit;

// $font <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
$fontReset: nth($useCssAttributesReset, 1) !default;
$fontRe: nth($useCssAttributesReset, 1) !default;
$fRe: nth($useCssAttributesReset, 1) !default;

// $initial <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
$cssReset: nth($useCssAttributesReset, 2) !default;
$cssRe: nth($useCssAttributesReset, 2) !default;
$csRe: nth($useCssAttributesReset, 2) !default;

// $inherit <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
$cssDna: $cssAttributesInherit !default;
$dna: $cssAttributesInherit !default;

// $color <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
$colorReset: nth($useCssAttributesReset, 3) !default;
$colorRe: nth($useCssAttributesReset, 3) !default;
$cRe: nth($useCssAttributesReset, 3) !default;
