// Css 屬性
// Catalog <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
// $config
// $font
// $initial
// $inherit
// $color
// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

// $config <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
// Reset
$CSS_ATTRIBUTES_RESET: normal, initial, transparent;
$CSS_ATTRIBUTES_INHERIT: inherit;

// $font <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
$font-reset: nth($CSS_ATTRIBUTES_RESET, 1) !default;
$font-re: nth($CSS_ATTRIBUTES_RESET, 1) !default;
$f-re: nth($CSS_ATTRIBUTES_RESET, 1) !default;

// $initial <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
$css-reset: nth($CSS_ATTRIBUTES_RESET, 2) !default;
$css-re: nth($CSS_ATTRIBUTES_RESET, 2) !default;
$re: nth($CSS_ATTRIBUTES_RESET, 2) !default;

// $inherit <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
$css-dna: $CSS_ATTRIBUTES_INHERIT !default;
$dna: $CSS_ATTRIBUTES_INHERIT !default;

// $color <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
$color-reset: nth($CSS_ATTRIBUTES_RESET, 3) !default;
$color-re: nth($CSS_ATTRIBUTES_RESET, 3) !default;
$cr-re: nth($CSS_ATTRIBUTES_RESET, 3) !default;
