//圖片路徑
$imgPath: '../images/'  !default;

// Background Image
$backgroundImage: 'https://fakeimg.pl/1920x1080/' !default;

// Mask image
$maskImage: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGlkPSJf5ZyW5bGkXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ3LjM1IDM0LjI2Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6IzhmOTA3ZDt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJtNDMuNTMsMzQuMjZIMy44MmMtMi4xMSwwLTMuODItMS43MS0zLjgyLTMuODJWMy44MkMwLDEuNzEsMS43MiwwLDMuODIsMGgzOS43MWMyLjExLDAsMy44MiwxLjcxLDMuODIsMy44MnYyNi42MWMwLDIuMTEtMS43MiwzLjgyLTMuODIsMy44MlpNMy44MiwyYy0xLjAxLDAtMS44Mi44Mi0xLjgyLDEuODJ2MjYuNjFjMCwxLC44MiwxLjgyLDEuODIsMS44MmgzOS43MWMxLjAxLDAsMS44Mi0uODIsMS44Mi0xLjgyVjMuODJjMC0xLS44Mi0xLjgyLTEuODItMS44MkgzLjgyWiIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSI0Mi42OCAyOS43NiA0LjY4IDI5Ljc2IDQuNjggMjMuNzYgMTYuNjggMTMuNzYgMjkuNjggMjEuNzYgNDIuNjggMTQuNzYgNDIuNjggMjkuNzYiLz48L3N2Zz4=' !default;

$useCssLibrary: (
  'bootstrap' 'bootstrap',
  'master': 'master'
)