@charset "utf-8";

@mixin c-lightbox() {
  .is-open, .is\:open { overflow: hidden !important; }

  .c-lbx {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    @include trs();

    &__toolbar {
      &-close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        cursor: pointer;
        transform: translate(100%,-100%);
        @include trs();

        .c-btn {
          @include flex-center();
          position: fixed;
          top: vh(40);
          right: vw(35);
          border-radius: 100%;
          width: 60px;
          height: 60px;
          background: cr(red);
          color: #fff;

          @include mq-min() {
            &:hover{
              span { transform: rotate(225deg); }
            }
          }
        }

        span {
          position: relative;
          width: 21px;
          height: 21px;
          display: block;
          transform: rotate(45deg);
          @include trs();

          &::before,&::after {
            content: '';
            display: block;
            background: #fff;
            @include position-center();
            @include trs(1);
          }

          &::before {
            width: 0px;
            height: 2px;
          }

          &::after {
            width: 2px;
            height: 0px;
          }
        }
      }
    }

    &__mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#000, .7);
    }

    &__ctr {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .5s;
    }

    // &__ir {}

    &__movie {
      position: relative;
      @include pa-height();
      iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
      }
    }

    &.is-show, &.is\:show {
      opacity: 1;
      pointer-events: auto;
    }

    &.is-show &__ctr, &.is\:show &__ctr {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.is-show &, &.is\:show & {
      &__toolbar {
        &-close {
          transform: translate(0,0);
          span {
            &::before { width: 100%; }
            &::after { height: 100%; }
          }
        }
      }
    }
  }

  [class*="c-lbx-"], [class*="c-lbx:"] { @extend .c-lbx; }
  
  .c-lbx { @content; }

  // Custom
  .c-lbx-video, .c-lbx\:video {
    .c-lbx {
      &__ir {
        width: per(1275);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include mq-max(phone) { width: 90%; }
      }
    }
  }
}