@charset "utf-8";

@mixin u-javascript() {
  // Javascript href ----------------------------------------------------------
  [data-href], [data-open] { cursor: pointer; }
  
  // javascript Image ---------------------------------------------------------
  [data-imgfix] {
    position: relative;
    line-height: 0;
    @include trs();
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: percentage(calc(9 / 16));
    }
    > * {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      @include flex-center();
      background-repeat: no-repeat;
      background-position: center;
      @include trs();
    }
    img { display: none !important; }
  }
  [data-imgfix="full"] > * { background-size: auto 100%; }
  [data-imgfix="out"] > * { background-size: cover; }
  [data-imgfix="in"] > * { background-size: contain; }

  @content;
}