@charset "utf-8";

@mixin u-padding() {
  .u-p {
    @if $paddingDetail == true {
      @each $val in map-get($usePaddingValue, l) {
        &l\:#{$val}, &-#{$val} { padding-left: unit($val, $paddingUnit); }
      }
      @each $val in map-get($usePaddingValue, r) {
        &r\:#{$val}, &-#{$val} { padding-right: unit($val, $paddingUnit); }
      }
      @each $val in map-get($usePaddingValue, t) {
        &t\:#{$val}, &-#{$val} { padding-top: unit($val, $paddingUnit); }
      }
      @each $val in map-get($usePaddingValue, b) {
        &b\:#{$val}, &-#{$val} { padding-bottom: unit($val, $paddingUnit); }
      }
      @each $val in map-get($usePaddingValue, x) {
        &x\:#{$val}, &-#{$val} {
          padding-left: unit($val, $paddingUnit);
          padding-right: unit($val, $paddingUnit);
        }
      }
      @each $val in map-get($usePaddingValue, y) {
        &y\:#{$val}, &-#{$val} {
          padding-top: unit($val, $paddingUnit);
          padding-bottom: unit($val, $paddingUnit);
        }
      }
      @each $val in map-get($usePaddingValue, all) {
        &\:#{$val}, &-#{$val} { padding: unit($val, $paddingUnit); }
      }
            
      @each $size, $val in $usePaddingBreakpoints {
        @if $val == true {
          @include mq-min($size) {
            @each $val in map-get($usePaddingValue, l) {
              &l\@#{$size}\:#{$val}, &-#{$size}-#{$val} { padding-left: unit($val, $paddingUnit); }
            }
            @each $val in map-get($usePaddingValue, r) {
              &r\@#{$size}\:#{$val}, &-#{$size}-#{$val} { padding-right: unit($val, $paddingUnit); }
            }
            @each $val in map-get($usePaddingValue, t) {
              &t\@#{$size}\:#{$val}, &-#{$size}-#{$val} { padding-top: unit($val, $paddingUnit); }
            }
            @each $val in map-get($usePaddingValue, b) {
              &b\@#{$size}\:#{$val}, &-#{$size}-#{$val} { padding-bottom: unit($val, $paddingUnit); }
            }
            @each $val in map-get($usePaddingValue, x) {
              &x\@#{$size}\:#{$val}, &-#{$size}-#{$val} {
                padding-left: unit($val, $paddingUnit);
                padding-right: unit($val, $paddingUnit);
              }
            }
            @each $val in map-get($usePaddingValue, y) {
              &y\@#{$size}\:#{$val}, &-#{$size}-#{$val} {
                padding-top: unit($val, $paddingUnit);
                padding-bottom: unit($val, $paddingUnit);
              }
            }
            @each $val in map-get($usePaddingValue, all) {
              &\@#{$size}\:#{$val}, &-#{$size}-#{$val} { padding: unit($val, $paddingUnit); }
            }
          }
        }
      }
    }
    @else {
      @each $val in $usePaddingValue {
        &l\:#{$val}, &-#{$val} { padding-left: unit($val, $paddingUnit); }
        &r\:#{$val}, &-#{$val} { padding-right: unit($val, $paddingUnit); }
        &t\:#{$val}, &-#{$val} { padding-top: unit($val, $paddingUnit); }
        &b\:#{$val}, &-#{$val} { padding-bottom: unit($val, $paddingUnit); }
        &x\:#{$val}, &-#{$val} {
          padding-left: unit($val, $paddingUnit);
          padding-right: unit($val, $paddingUnit);
        }
        &y\:#{$val}, &-#{$val} {
          padding-top: unit($val, $paddingUnit);
          padding-bottom: unit($val, $paddingUnit);
        }
        &\:#{$val}, &-#{$val} { padding: unit($val, $paddingUnit); }
      }

      @each $size, $val in $usePaddingBreakpoints {
        @if $val == true {
          @include mq-min($size) {
            @each $val in $usePaddingValue {
              &l\@#{$size}\:#{$val}, &-#{$size}-#{$val} { padding-left: unit($val, $paddingUnit); }
              &r\@#{$size}\:#{$val}, &-#{$size}-#{$val} { padding-right: unit($val, $paddingUnit); }
              &t\@#{$size}\:#{$val}, &-#{$size}-#{$val} { padding-top: unit($val, $paddingUnit); }
              &b\@#{$size}\:#{$val}, &-#{$size}-#{$val} { padding-bottom: unit($val, $paddingUnit); }
              &x\@#{$size}\:#{$val}, &-#{$size}-#{$val} {
                padding-left: unit($val, $paddingUnit);
                padding-right: unit($val, $paddingUnit);
              }
              &y\@#{$size}\:#{$val}, &-#{$size}-#{$val} {
                padding-top: unit($val, $paddingUnit);
                padding-bottom: unit($val, $paddingUnit);
              }
              &\@#{$size}\:#{$val}, &-#{$size}-#{$val} { padding: unit($val, $paddingUnit); }
            }
          }
        }
      }
    }
  }
}
