@charset "utf-8";

// font-weight
@mixin u-fw() {
  $FontWeight: 100, 200, 300, 400, 500, 600, 700, 800, 900, bold;
  .u-fw {
    @each $val in $FontWeight {
      &\:#{$val} { font-weight: $val; }
    }

    &\:clear { font-weight: normal; }

    @each $switchName, $switchVal in $useFontSwitch {
      @if $switchVal == t {
        @if $switchName != base {
          @include mq-min($switchName) {
            @each $val in $FontWeight {
              &\@#{$switchName}\:#{$val} { font-weight: $val; }
            }
          }
        }
      }
    }
  }

  $FontWeightAbbreviation:(
    el: 200, // ExtraLight 200
    l: 300,  // Light 300
    r: 400,  // Regular 400
    m: 500,  // Medium 500
    sb: 600, // SemiBold 600
    b: 700,  // Bold 700
    eb: 800, // ExtraBold 800
    bl: 900  // Black 900
  );
  $FontWeightFullName:(
    'ExtraLight': 'el', // ExtraLight 200
    'Light': 'l',  // Light 300
    'Regular': 'r',  // Regular 400
    'Medium': 'm',  // Medium 500
    'SemiBold': 'sb', // SemiBold 600
    'Bold': 'b',  // Bold 700
    'ExtraBold': 'eb', // ExtraBold 800
    'Black': 'bl'  // Black 900
  );
  .u-fw{
    @each $name, $val in $FontWeightAbbreviation {
      &\:#{$name} { font-weight: $val; }
    }
    @each $name, $val in $FontWeightFullName {
      &\:#{$name} { @extend .u-fw\:#{$val} }
    }
  }
}