@charset "utf-8";

@mixin u-icon() {
  /* icon ----------------------------------------------------------------------- */
  [data-icon]::before {
    font-family: $iconGlyph;
    color: $dna;
  }

  @each $name, $glyph in $icons {
    [data-icon="#{$name}"]::before {
      content: content($glyph)
    }
  }
}