@charset "utf-8";

@mixin u-keyframes() {
  @keyframes u-opacityIn {
    0% { 
      // 
    }
    100% { opacity: 1; }
  }

  @keyframes u-opacityOut {
      0% {
          //
      }
      100% { opacity: 0; }
  }

  @keyframes u-w100 {
    0% {
      // 
    }
    100% { width: 100%; }
  }

  @keyframes u-h100 {
    0%{
      // 
    }
    100% { height: 100%; }
  }
  @keyframes u-rotate360 {
    100% { transform: rotate(360deg); }
  }

  @keyframes u-rotate-360 {
    100% { transform: rotate(-360deg); }
  }

  @content;
}