@charset "utf-8";

// scroll
@mixin u-scroll() {
  .u-scroll {
    &\:no, &-no { 
      overflow: hidden; 
    }
    &\:x, &-x {
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }
    &\:y, &-y{
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
    }
  }
}